!!!
html
  head
    title= 'title'

    meta(name='viewport', content="width=device-width, maximum-scale=1, user-scalable=no")
    script(src='lib/jquery-1.7.1.min.js')
    script(src='js/jquery.reel.js')
    script(src='js/jquery.ui.core.js')
    script(src='js/jquery.ui.widget.js')
    script(src='js/jquery.ui.mouse.js')
    script(src='js/jquery.ui.draggable.js')
    script(src='js/tipsrc.js')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    body!= body
