<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src='js/jquery.reel.js'></script>
    <script type="text/javascript" src="js/jquery.ui.core.js"></script>
    <script type="text/javascript" src="js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="js/jquery.ui.draggable.js"></script>
    <script src='js/tipsrc.js'></script>

    <link rel="stylesheet" href="css/layout.css">
</head>


<body>  
<div id="spot-wrap"></div>
        <img id='image' src='img-seq/birdhouse_894x503-NO-BLUR_00000.jpg' width='894' height='503' />


  <div id="example"></div>

<button>save</button>

</body>

</html>
